# 1.List

In [2]:
dept = ["ai", "ds", "da", "nlp","ML"]
print(dept)

['ai', 'ds', 'da', 'nlp', 'ML']

In [4]:
type(dept)

list

# A list is an ordered, changeable, mutable collection of elements. It also allowed duplicates. Lists can contain elements of different types.

In [7]:
list = ["ai", "ds", "da", "nlp",1,2,3,4,(9,7,4),True,False,{5,7}]
print(list)

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, (9, 7, 4), True, False, {5, 7}]

In [9]:
list

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, (9, 7, 4), True, False, {5, 7}]

In [11]:
list[0]

'ai'

In [13]:
list[3]

'nlp'

In [15]:
list[4]

1

In [17]:
list[7]

4

In [19]:
list[8]

(9, 7, 4)

In [21]:
list[11]

{5, 7}

In [23]:
list[-1]

{5, 7}

In [25]:
list[-4]

(9, 7, 4)

In [27]:
list[-4][0]

9

In [29]:
list[2:7]

['da', 'nlp', 1, 2, 3]

In [31]:
import sys
sys.getsizeof(list)

152

### Common List Methods:

- `append()`
- `insert()`
- `remove()`
- `pop()`
- `clear()`
- `index()`
- `count()`
- `sort()`
- `reverse()`
- `copy()`()
copy()()
copy()()
copy()

In [34]:
dept = ["ai", "ds", "da", "nlp"]
print(dept)

['ai', 'ds', 'da', 'nlp']

In [36]:
dept.append("cv")
print(dept)

['ai', 'ds', 'da', 'nlp', 'cv']

In [38]:
dept.insert(1, "ml")
print(dept)

['ai', 'ml', 'ds', 'da', 'nlp', 'cv']

In [40]:
dept.remove("ds")
print(dept)

['ai', 'ml', 'da', 'nlp', 'cv']

In [42]:
dept.pop(2)

'da'

In [44]:
dept

['ai', 'ml', 'nlp', 'cv']

In [46]:
dept.clear()
print(dept)

[]

In [48]:
dept = ["ai", "ds", "da", "nlp"]

In [50]:
index_ds = dept.index("ds")
print(index_ds)

1

In [52]:
count_ai = dept.count("ai")
print(count_ai)

1

In [54]:
dept.sort()
print(dept)

['ai', 'da', 'ds', 'nlp']

In [56]:
dept.reverse()
print(dept)

['nlp', 'ds', 'da', 'ai']

In [58]:
copy_list = dept.copy()
print(copy_list)

['nlp', 'ds', 'da', 'ai']

In [60]:
dept.pop(-1)
dept

['nlp', 'ds', 'da']

# 2. Tuples

A tuple is an ordered, immutable collection of elements in Python. Tuples can contain elements of different types and are often used to group related data. Once a tuple is created, its elements cannot be changed.

Tuples can be created by placing a comma-separated sequence of elements inside parentheses.

In [65]:
t = 10, 20,30,40,50
t

(10, 20, 30, 40, 50)

In [67]:
type(t)

tuple

In [69]:
r,s,t=2,3,4
type(r)

int

In [71]:
t

4

In [73]:
t = ({1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4)
t

({1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4)

In [75]:
type(t)

tuple

In [77]:
print(sys.getsizeof(t)) #tuple

144

In [79]:
t.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
del t[2]

In [82]:
t2 = (1,3,4)
t = t+t2
t

({1, 2, 3},
 [1, 2, 3],
 False,
 True,
 4,
 3,
 2,
 1,
 'nlp',
 'da',
 'ds',
 4,
 4,
 1,
 3,
 4)

# Tuple Slicing in Python

Tuples in Python are immutable sequences, typically used to store collections of heterogeneous data. Slicing is a technique used to retrieve a subset of elements from a tuple. It is similar to slicing in lists and strings.

## Basic Syntax

The syntax for slicing a tuple is as follows:

```python
tuple[start:stop:step]

In [85]:
t3 = (2,3,4,5,76,8,9,0,10)
t3[0:4]

(2, 3, 4, 5)

In [87]:
t3[5:]

(8, 9, 0, 10)

In [89]:
t3[0:4] + t3[5:] 
t3 = t3[0:4] + t3[5:] 
t3

(2, 3, 4, 5, 8, 9, 0, 10)

In [91]:
t3.index(5)

3

In [93]:
t3.count(3)

1

In [95]:
t4 = (2, 3, 4, 5, 8, 9, 0, 10,10)  # duplicate value rakhee
t4

(2, 3, 4, 5, 8, 9, 0, 10, 10)

# 3. Sets in Python

A set is an `unordered` collection of unique elements in Python. Sets are mutable, meaning you can add or remove elements, but they do not allow duplicate values.

## Creating Sets

Sets can be created using curly braces `{}` or the `set()` function.

In [98]:
s1 = {1,2,3}
s2 = {3,4,5}

In [100]:
s1

{1, 2, 3}

In [102]:
s2

{3, 4, 5}

# Basic operation of set

In [105]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [107]:
s1.intersection(s2)

{3}

In [109]:
s1.difference(s2)

{1, 2}

In [111]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [113]:
s2.difference(s1)

{4, 5}

In [115]:
s1 | s2 #union

{1, 2, 3, 4, 5}

In [117]:
s1 & s2 #intersection

{3}

# Set Methods

In [120]:
s1

{1, 2, 3}

In [122]:
s1.add(10)

In [124]:
s1

{1, 2, 3, 10}

In [126]:
s1.remove(1) #index na kintu ; eta value

# 4. Frozen Sets in Python

A `frozenset` is an `immutable version` of a set. Once created, elements cannot be added or removed from a `frozenset`. This makes `frozenset` hashable and eligible to be used as keys in dictionaries or elements of other sets.

## Creating Frozen Sets

Frozen sets can be created using the `frozenset()` function.

In [129]:
frozen_fruits=frozenset({'ai', 'ds', 'ml'})

In [131]:
type(frozen_fruits)

frozenset

In [133]:
frozen_fruits.add('me')

AttributeError: 'frozenset' object has no attribute 'add'

In [135]:
frozen_fruits.remove('ml')

AttributeError: 'frozenset' object has no attribute 'remove'

In [137]:
s1

{2, 3, 10}

In [139]:
s1.remove(2)

In [141]:
s1.discard(2)

In [143]:
s1

{3, 10}

In [145]:
s1.discard(1) # jodi thake tahole delete korbe r jodi na thake tahole ghumai jabe
s1

{3, 10}

# 5. Dictionaries in Python

A dictionary is an unordered collection of key-value pairs. Keys must be unique and immutable (such as strings, numbers, or tuples), while values can be of any data type.

## Creating Dictionaries

Dictionaries can be created using curly braces `{}` with key-value pairs or the `dict()` function.

In [148]:
# Creating a dictionary using curly braces
person = {
    "name": "Anika",
    "age": 22,
    "city": "chottogram"
}
print(person)

{'name': 'Anika', 'age': 22, 'city': 'chottogram'}

In [150]:
# Creating a dictionary using the dict() function

person = dict(name="Anika", age=22, city="chittagong")
print(person)

{'name': 'Anika', 'age': 22, 'city': 'chittagong'}

In [152]:
type(person)

dict

In [154]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [156]:
person.values()

dict_values(['Anika', 22, 'chittagong'])

In [158]:
person = { 
    "name": ["Abrar", 'Mahmud'], 
    "age": [18, 20], 
    "city": ["Dhaka", 'chittagong'], 
    "Occu": ['Engineer','Rider'] 
}

In [160]:
person

{'name': ['Abrar', 'Mahmud'],
 'age': [18, 20],
 'city': ['Dhaka', 'chittagong'],
 'Occu': ['Engineer', 'Rider']}

# User Input of Dictionary

In [167]:
d = {}    #kind of array
n = int(input())

for k in range(n):
    keys = input()
    value = int(input())
    d[keys] = value

print(d)

 2
 num1
 10
 num2
 20

{'num1': 10, 'num2': 20}

In [169]:
d.keys()

dict_keys(['num1', 'num2'])

# List Comprehension: Elegant Way to Create Lists

List comprehension provides a concise way to create lists in Python. It consists of brackets containing an expression followed by a `for` clause, and optionally `if` clauses. List comprehensions are a more compact and readable alternative to using loops for creating lists.ble.

## Components
1. expression: The expression is the value or operation that is applied to each element. <br>
2. item: The variable that takes the value of the item inside the iterable. <br>
3. iterable: A collection of elements (e.g., list, tuple, string) to iterate over. <br>
4. condition (optional): A condition to filter items from the iterable.

In [173]:
for i in range(1,10): 
    if i%2==0:  
        continue 
    print(i)

1
3
5
7
9

In [175]:
[i for i in range(10) if i%2!=0]

[1, 3, 5, 7, 9]

In [177]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [179]:
squares = [print(x+5) for x in range(10)]

5
6
7
8
9
10
11
12
13
14

# Tuple Comprehension in Python

Although Python does not support tuple comprehensions directly, you can achieve similar functionality using generator expressions or by converting a list comprehension to a tuple.

## Generator
A generator in Python is a special type of `iterable` that allows you to iterate over a sequence of values. Unlike lists, which store all values in memory, a generator computes each value on the fly and yields it one at a time, which makes it more memory efficient, especially for large datasets. <br>

#Generator expression to generate squares of even numbers from 0 to 9 <br>
even_squares = (x**2 for x in range(10) if x % 2 == 0)

## Using Generator Expressions

A generator expression is similar to a list comprehension, but it uses parentheses `()` instead of square brackets `[]`. It generates items one by one and is more memory efficient than a list comprehension.

In [182]:
li = [x**2 for x in range(10)]  # list 3rd breket
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
gen_expr = (x**2 for x in range(10))  # tupel 1st breket
gen_expr

In [186]:
tuple(gen_expr)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [188]:
print(sys.getsizeof(li))
print(sys.getsizeof(tuple(gen_expr)))

184
40

In [190]:
print(sys.getsizeof(tuple(li)))  #tuple e size kom lage list er ceye

120

# Pandas DataFrame

 !pip install library_name     #!pip install pandas

In [194]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [195]:
import pandas as pd

In [196]:
people = [
    ["Anika", 22, "chittagong"],
    ["Abrar", 18, "Berlin"],
    ["Tawsif", 20, "Hamburg"],
    ["Razia", 35, "Munich"]
]

In [197]:
people

[['Anika', 22, 'chittagong'],
 ['Abrar', 18, 'Berlin'],
 ['Tawsif', 20, 'Hamburg'],
 ['Razia', 35, 'Munich']]

In [204]:
df = pd.DataFrame(people, columns=['name','age','city'])

In [206]:
df

     name  age        city
0   Anika   22  chittagong
1   Abrar   18      Berlin
2  Tawsif   20     Hamburg
3   Razia   35      Munich

# Dictionary

In [213]:
person = {
    "name": ["Anika","Nawer"],
    "age": [22, 20],
    "city": ["Munich", 'Berlin']
}

In [215]:
person

{'name': ['Anika', 'Nawer'], 'age': [22, 20], 'city': ['Munich', 'Berlin']}

In [217]:
df = pd.DataFrame(person)

In [219]:
df

    name  age    city
0  Anika   22  Munich
1  Nawer   20  Berlin

In [229]:
df.drop(['city'], axis=1)

    name  age
0  Anika   22
1  Nawer   20

In [231]:
df.drop(['city'], axis='columns')

    name  age
0  Anika   22
1  Nawer   20

In [233]:
df

    name  age    city
0  Anika   22  Munich
1  Nawer   20  Berlin

In [235]:
df = df.drop(['age'], axis='columns') #column delete

In [237]:
df

    name    city
0  Anika  Munich
1  Nawer  Berlin

In [239]:
df.drop([0]) # row delete

    name    city
1  Nawer  Berlin